<div
  class="form"
>
  <form
    [formGroup]="modeForm"
  >
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayout.sm="column"
      fxLayoutGap="2rem"
      fxLayoutGap.xs="0rem"
      fxLayoutGap.sm="0.25rem"
      fxLayoutGap.md="0.5rem"
      fxLayoutAlign="flex-left center"
      fxLayoutAlign.xs="center center"
      fxLayoutAlign.sm="center center"
    >
      <mat-radio-group
        formControlName="parkMode"
        class="smallRadio"
        color="primary"
        aria-label="Select an option"
        fxFlex="0 1 auto"
        fxLayout="row"
        fxLayoutAlign="flex-left"
        fxLayoutGap="1rem"
        fxLayoutGap.xs="0.1rem"
        fxLayoutGap.sm="0.5rem"
      >

        <mat-radio-button
          [value]="parkModeParallel"
          fxFlex="1 1 auto"
          >
          <span class="spans">
            Parallel Parking Mode
          </span>
        </mat-radio-button>

        <mat-radio-button
        [value]="parkModeBay"
        fxFlex="1 1 auto"
        >
          <span class="spans">
            Bay Parking Mode
          </span>
        </mat-radio-button>

      </mat-radio-group>

      <mat-radio-group
        formControlName="runMode"
        class="smallRadio"
        color="primary"
        aria-label="Select an option"
        fxFlex="0 1 auto"
        fxLayout="row"
        fxLayoutAlign="flex-left"
        fxLayoutGap="1rem"
        fxLayoutGap.xs="0.1rem"
        fxLayoutGap.sm="0.5rem"
      >

        <mat-radio-button
          [value]="runModeAutomated"
          fxFlex="1 1 auto"
          >
          <span class="spans">
            Automatic Mode
          </span>
        </mat-radio-button>

        <mat-radio-button
        [value]="runModeKeyboard"
        fxFlex="1 1 auto"
        >
          <span class="spans">
            Keyboard Mode
          </span>
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </form>
</div>

