@use 'src/styles/styles.scss' as styles;
@use 'sass:color';

div.form{
  text-align: center;
  min-width: 0;
}

mat-radio-button.mat-radio-button{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: styles.$fontDefault;
  overflow-wrap: normal;
}

mat-radio-group mat-radio-button:last-child {
  padding-right: 1rem;
}

.spans {
  white-space: normal;
}
