/* Note: Need to keep this separate from file where mat-core is included so I can import it into component files */
@use '@angular/material' as mat;

html {
  font-size: 100%; /* font-size 1rem = 16px on default browser settings */
}

/* Create a simple theme using available Material 3 palettes */
$theme: mat.define-theme();

/* Variable font used throughout */
$fontDefault: clamp(0.5rem, 2.5vw, 1rem);
