/* You can add global styles to this file, and also import other style files */

@use 'sass:color';
/* Variable font used throughout */
$fontDefault: clamp(0.5rem, 2.5vw, 1rem);

$colorPrimary: #1976d2; /* Example primary color */
$colorWarn: #f44336; /* Example warn color */
$colorAccent: #ff4081; /* Example accent color */
$colorBackground: #e3e3e3; /* Example background color */

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: hidden; /*  Disable scrollbars */
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Workaround for https://github.com/angular/material2/issues/4580.
Note: Global style, as material elements, e.g. mat-form-field, are part of Angular Material and has its own encapsulation which component styles can't override */

/* Customize mat-form-field */
mat-form-field {

  .mat-form-field {
    &-underline {
      position: static;
    }

    &-wrapper {
      padding-bottom: 0;
    }

    &-subscript-wrapper {
      position: static;
      min-height: 1.25em;
    }
  }
}

// Force dropdown panel background color for mat-form-field
.mat-mdc-select-panel {
  background-color: $colorBackground !important;
}

/* Make radio button scalable */
$smallRadioSize: clamp(1rem, 2vw, 2rem);
.smallRadio .mat-radio-container{
  height: $smallRadioSize;
  width: $smallRadioSize;
}
.smallRadio .mat-radio-outer-circle{
  height: $smallRadioSize;
  width: $smallRadioSize;
}
.smallRadio .mat-radio-inner-circle{
  height: $smallRadioSize;
  width: $smallRadioSize;
}
.smallRadio .mat-radio-button .mat-radio-ripple{
  height: 20px;
  width: 20px;
  left: calc(50% - $smallRadioSize);
  top: calc(50% - $smallRadioSize);
}

/* The Snackbar call passes in 'snackBar' as a custom class */
.mat-snack-bar-container.snackBar{
  max-width: 100%;
  button {
    color:#ba68c8;
  }
}

/* Used in the three scenario menus */
@mixin scenario-menu {
  /* Fill the container element - better for flex */
  width: 100%;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  font-size : $fontDefault;
  background: $colorBackground; /* Default background color */
  border-radius: 0.25rem; /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  &:hover {
    background-color: color.adjust($colorBackground, $lightness: 5%);
  }
}