<div
  fxLayout="row"
  fxLayoutAlign="space-between"
  fxLayoutGap="0.5vw"
>
  <app-button
    fxFlex="1 1 0"
    buttonName="forward"
  >
  </app-button>
  <app-button
    fxFlex="1 1 0"
    buttonName="reverse"
  >
  </app-button>
  <app-button
    fxFlex="1 1 0"
    buttonName="left"
  >
  </app-button>
  <app-button
    fxFlex="1 1 0"
    buttonName="center"
  >
  </app-button>
  <app-button
    fxFlex="1 1 0"
    buttonName="right"
  >
  </app-button>
  <app-button
    fxFlex="1 1 0"
    buttonName="start"
  >
  </app-button>
  <app-button
    fxFlex="1 1 0"
    buttonName="park"
  >
  </app-button>
</div>
