<div
  fxLayout="row"
  fxLayoutAlign="space-between"
  fxLayoutGap="1vw"
>

<app-button
  fxFlex="0 1 auto"
  buttonName="forward"
>
</app-button>
<app-button
  fxFlex="0 1 auto"
  buttonName="reverse"
>
</app-button>
<app-button
  fxFlex="0 1 auto"
  buttonName="left"
>
</app-button>
<app-button
  fxFlex="0 1 auto"
  buttonName="center"
>
</app-button>
<app-button
  fxFlex="0 1 auto"
  buttonName="right"
>
</app-button>
<app-button
  fxFlex="0 1 auto"
  buttonName="start"
>
</app-button>
</div>
