<form
[formGroup]="customStreetForm"
class="form"
fxLayout="row wrap"
fxLayoutGap="0.5vw"
fxLayoutAlign="center"
>

  <mat-form-field
    color="primary"
    appearance="fill"
    hideRequiredMarker="true"
    floatLabel="always"
    fxFlex="0 1 24%"
  >
    <mat-label>Front Car Width (mm)</mat-label>
    <input
      matInput
      type="number"
      formControlName="frontCarWidth"
      [errorStateMatcher]="matcher"
      [min]="minFrontCarWidth"
      [max]="maxFrontCarWidth"
      required
    >
      <mat-hint>Door to door width</mat-hint>
      <mat-error *ngIf="customStreetForm.invalid">
        Enter a number between {{ minFrontCarWidth }} and {{ maxFrontCarWidth }}
      </mat-error>
  </mat-form-field>

  <mat-form-field
    color="primary"
    appearance="fill"
    hideRequiredMarker="true"
    floatLabel="always"
    fxFlex="0 1 24%"
  >
    <mat-label>Distance From Kerb (mm)</mat-label>
    <input
      matInput
      type="number"
      formControlName="distFromKerb"
      [errorStateMatcher]="matcher"
      [min]="minDistFromKerb"
      [max]="maxDistFromKerb"
      required
    >
      <mat-hint>Distance car is out from kerb</mat-hint>
      <mat-error *ngIf="customStreetForm.invalid">
        Enter a number between {{ minDistFromKerb }} and {{ maxDistFromKerb }}
      </mat-error>
  </mat-form-field>

  <mat-form-field
    color="primary"
    appearance="fill"
    hideRequiredMarker="true"
    floatLabel="always"
    fxFlex="0 1 24%"
  >
    <mat-label>Safety Gap (mm)</mat-label>
    <input
      matInput
      type="number"
      formControlName="safetyGap"
      [errorStateMatcher]="matcher"
      [min]="minSafetyGap"
      [max]="maxSafetyGap"
      required
    >
      <mat-hint>Cars stay this far apart</mat-hint>
      <mat-error *ngIf="customStreetForm.invalid">
        Enter a number between {{ this.minSafetyGap }} and {{ this.maxSafetyGap }}
      </mat-error>
  </mat-form-field>

  <mat-form-field
    color="primary"
    appearance="fill"
    hideRequiredMarker="true"
    floatLabel="always"
    fxFlex="0 1 24%"
  >
    <mat-label> Parking Space (mm)</mat-label>
    <input
      matInput
      type="number"
      formControlName="parkingSpace"
      [errorStateMatcher]="matcher"
      [min]="minParkingSpace"
      [max]="maxParkingSpace"
      required
    >
      <mat-hint>Leave as 0 to auto-calculate</mat-hint>
      <mat-error *ngIf="customStreetForm.invalid">
        Enter 0 to have the parking space automatically calculated, or enter a number up to {{ this.maxParkingSpace }}
      </mat-error>
  </mat-form-field>

</form>
