@use 'src/styles/styles.scss' as *;

div.mode * {
  min-width: 0;
}

a.link {
  // width: 100%;
  margin-top: 0.5rem;
  font-size: $fontDefault;
}

div.selects * {
  min-width: 0;
}

div.custom * {
  min-width: 0;
}

.custom {
  margin-top: 0rem;
}
