@use 'src/styles/styles.scss' as styles;
@use 'sass:color';

div.mode * {
  min-width: 0;
}

a.link {
  @include styles.button-container;
  text-decoration: underline;

}
a.link:hover,
a.link:focus {
  background-color: color.adjust(styles.$colorBackground, $lightness: 5%);
}

div.selects * {
  min-width: 0;
}

div.custom * {
  min-width: 0;
}

.custom {
  margin-top: 0rem;
}

