@use 'src/styles/styles.scss' as styles;

div.mode * {
  min-width: 0;
}

a.link {
  font-size: clamp(0.65rem, 2vw, 1.3rem);
  height: clamp(1.2rem, 2vw, 1.8rem);
  margin-top: 0.5rem;
  text-decoration: underline;
  color: styles.$colorPrimary;
  transition: color 0.2s;
}
a.link:hover,
a.link:focus {
  color: styles.$colorAccent;
  background-color: styles.$colorBackground;
}

div.selects * {
  min-width: 0;
}

div.custom * {
  min-width: 0;
}

.custom {
  margin-top: 0rem;
}
