<div
  class="mode"
  fxLayout="row"
  fxLayoutAlign= "space-evenly"
>

  <div
    class="readme"
    fxFlex="0 1 auto"
    fxLayoutAlign="center center"
  >
    <a
      class="link"
      href="https://github.com/cname87/parallel-park/blob/master/README.md"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Open project README in new tab"
    >
      README
    </a>
  </div>

  <app-mode
    fxFlex="0 1 auto"
  >
  </app-mode>


  <div
    fxFlex="0 1 auto"
    fxLayoutAlign="center center"
  >
    <div
      class="run-button-container"
    >
      <app-button
        buttonName='main'
      >
      </app-button>
    </div>
  </div>
</div>

<div
  class="selects"
  fxLayout="row"
  fxLayoutGap="0.5vw"
  fxLayoutAlign="center"
>

  <app-manoeuvre
    fxFlex="1 1 0"
    [ngStyle]="{'display': showScenarioForm}"
  >
  </app-manoeuvre>

  <app-car
    fxFlex="1 1 0"
    [ngStyle]="{'display': showScenarioForm}"
  >
  </app-car>

  <app-street
    fxFlex="1 1 0"
    [ngStyle]="{'display': showScenarioForm}"
  >
  </app-street>

</div>



<app-manual-mode
  *ngIf="showManualMode"
>
</app-manual-mode>


