<div
  class="mode"
  fxLayout="row wrap"
  fxLayoutAlign="center"
  fxLayoutGap="1.5rem"
>

<a
  class="link"
  fxFlex="0 1 auto"
  href="https://github.com/cname87/parallel-park/blob/master/README.md"
  target="_blank"
  rel="noopener noreferrer"
  aria-label="Open project README in new tab"
>
  README
</a>

<app-mode
  fxFlex="0 1 auto"
>
</app-mode>

<app-button
  fxFlex="0 1 auto"
  buttonName='main'
>
</app-button>

</div>

<div
  class="selects"
  fxLayout="row"
  fxLayoutGap="0.5vw"
  fxLayoutAlign="center"
>

  <app-manoeuvre
    fxFlex="1 1 0"
    [ngStyle]="{'display': showScenarioForm}"
  >
  </app-manoeuvre>

  <app-car
    fxFlex="1 1 0"
    [ngStyle]="{'display': showScenarioForm}"
  >
  </app-car>

  <app-street
    fxFlex="1 1 0"
    [ngStyle]="{'display': showScenarioForm}"
  >
  </app-street>

</div>

<div
  class="custom"
  fxLayout="row"
  fxLayoutGap="1rem"
  fxLayoutAlign="center"
  [ngStyle]="{'display': showCustomCarForm}"
>

  <app-custom-car
    fxFlex="0 1 100%"
    [ngStyle]="{'display': showCustomCarForm}"
  >
  </app-custom-car>

</div>

<div
  class="custom"
  fxLayout="row"
  fxLayoutGap="1rem"
  fxLayoutAlign="center"
  [ngStyle]="{'display': showCustomStreetForm}"
>

  <app-custom-street
    fxFlex="0 1 100%"
    [ngStyle]="{'display': showCustomStreetForm}"
  >
  </app-custom-street>

</div>

<app-manual-mode
  *ngIf="showManualMode"
>
</app-manual-mode>


